/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #FFF;
    --color-on-surface: #000;
    --color-on-box: #272D42;
    --color-on-sphere: rgb(202, 89, 255);
    --color-on-ai: #ffffff;
    --color-on-vr: #6C7CFF;
    --color-on-circle: #2AFFFF;
}